/* mcprog original file */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron-content {
   background-color: blanchedalmond;
}

.jumbotron .btn {
  margin: 5px;
}

.platform-tron {
    background-repeat: no-repeat;
    background-position: top;
    
    
}

#platform-desktop {
    background-image: url("http://emovu.com/Content/Images/developers/platforms.png");   
    background-size: contain;
}

#platform-mobile {
    background-image: url(../files/android-bg.jpg);
    background-size: cover;
}

.table-margined {
    margin-top: 5px;   
}

.full-flip {
    -webkit-transition: all 2s; /* Safari */
    -moz-transition: all 2s;
    transition: all 2s;
}

a:hover > .full-flip {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg); // IE9 only
    transform: rotate(360deg);
}
